<div class="footer">
    <mat-toolbar-row>
        <div class="footer1">
            <span> Who we are</span>
            <span>FAQ</span>
            <span> Legal</span>
            <span>  Privacy Policy</span>
            <span>  Cookie Policy</span>
            <span>  Terms Of Service</span>
        </div>
     
        <span class="example-spacer"></span>
        <div>
          <img src="../../../assets/logo-contrast.png" alt="logo">
        </div>
        <ul>
        <li> Powered by IBM Blockchain Technology </li>
        <li>  <small>Copyright © 2024</small></li>   
        <li>1.0.1</li>
        </ul>


      </mat-toolbar-row>

</div>