
    <mat-toolbar class="container">
        <button mat-icon-button (click)="sidenav.toggle()" id="menuIcon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon> 
        </button>
        <a routerLink="/"><span><img src="../../../assets/logo.png" height="45"  class="menuLogo"></span></a>
       <div class="nav" >
        <a mat-button routerLink="/how-it-works" class="top-menu-item">WHO WE ARE</a>
        <a mat-button routerLink="/faq" class="top-menu-item">FAQ</a>
        <a mat-button routerLink="/auth" class="login-btn"><mat-icon>login</mat-icon>Login</a>
        <a mat-button routerLink="/signup" class="get-started">Get Started</a>
       </div>
   
    </mat-toolbar>


<mat-sidenav-container>
    <mat-sidenav #sidenav [fixedInViewport]="true" [fixedTopGap]="30" mode="side">
        <button mat-icon-button (click)="sidenav.toggle()" id="menuIcon" class="mat-icon-close" aria-label="Example icon-button with menu icon">
            <mat-icon>close</mat-icon> 
        </button>
        <div class="side-nav-items">
            <div>
                <a (click)="sidenav.close()" mat-button routerLink="/whoweare"
                    class="side-menu-item"><mat-icon></mat-icon>WHO WE ARE</a>
            </div>

            <div>
                <a (click)="sidenav.close()" mat-button routerLink="/faq"
                    class="side-menu-item">FAQ</a>
            </div>

            <div>
                <a (click)="sidenav.close()" mat-button routerLink="/login">
                    <button mat-stroked-button class="side-menu-item login-btn-mobile">
                        <mat-icon style="margin: -5px 5px;">login</mat-icon>Login
                        
                    </button>
                </a>
            </div>

            <div>
                <a (click)="sidenav.close()" mat-button routerLink="/get-started">
                    <button mat-stroked-button class="get-started-mobile">Get Started</button>

                </a>
            </div>
        </div>

    </mat-sidenav>