.app-page-how-it-works {
  background: #edeae6;
  display: block;
  padding: 45px 0;
  height: 100%;
}

h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 0.83em;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5 {
  color: #283b4d;
  line-height: 1em;
  margin-top: 0;
}

.mat-tab-label-container {
  margin: 0 30px;
}

.boat-icon {
  background: url(../../../../assets/icons/boat-icon.png) no-repeat center;
  background-size: 56.5px;
}

.item {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding-top: 2%;
}

.grid-item {
  text-align: center;
}

.icon {
  display: inline-block;
  margin-bottom: 10px;
  height: 50px;
  width: 50px;
}

.get-started {
    background-color: #f79f51;
    color: white;
    cursor: pointer;
    text-decoration: none;
    text-transform: none;
    border: none;
    display: inline-block;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    margin: 10px;
    min-width: 100px;
    line-height: 36px;
    padding: 0 30px;
    border-radius: 4px;
    border-width: 2px !important;
    font-size: 16px;
    font-weight: 700
}

.container-button{
    display: flex;
    align-content: center;
    justify-content: center;
}